<!-- src\views\components\headPage.ejs  - logicinfo.com.br -->
<head>
    <nav class="navbar navbar-light bg-light mt-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1>
                    (logicinfo) <%= title %>
                </h1>
            </a>
        </div>
    </nav>
</head>